.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 2rem;
  background-color: #d07e01;
  color: #fff;
  font-weight: bold;
  width: 100vw
}

.navbar > a {
  cursor: pointer;
}