.providers-list {
  background-color: white;
  border-radius: 15px;
  max-width: 600px;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
}

.provider-table {
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

.provider-table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(184, 184, 255);
}

.provider-line {
    cursor: pointer;
}

.provider-line:hover {
    text-decoration: underline;
}